@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #f5f5f5;
}

.entrance-page__wrapper--animation {
  text-align: center;
  color: #f5f5f5;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1em;
  text-transform: uppercase;
  padding-right: 35px;
}

.entrance-page__wrapper--animation .letter {
  display: inline-block;
}

.entrance-page {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  background: #0a0a0a;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 10, 0.6)), to(rgba(0, 0, 0, 0.9))), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url("../assets/entrance-image.jpg");
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url("../assets/entrance-image.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.entrance-page:hover {
  text-decoration: none;
}

.entrance-page__wrapper h1 {
  position: relative;
  color: #f5f5f5;
  font-size: 4em;
  font-weight: 600;
  letter-spacing: .5em;
}

.entrance-page__wrapper h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.entrance-page__wrapper h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(62px, 9999px, 26px, 0);
    -webkit-transform: skew(0.66deg);
            transform: skew(0.66deg);
  }
  6.66667% {
    clip: rect(84px, 9999px, 65px, 0);
    -webkit-transform: skew(0.95deg);
            transform: skew(0.95deg);
  }
  13.33333% {
    clip: rect(44px, 9999px, 38px, 0);
    -webkit-transform: skew(0.06deg);
            transform: skew(0.06deg);
  }
  20% {
    clip: rect(57px, 9999px, 59px, 0);
    -webkit-transform: skew(0.21deg);
            transform: skew(0.21deg);
  }
  26.66667% {
    clip: rect(25px, 9999px, 16px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  33.33333% {
    clip: rect(53px, 9999px, 52px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  40% {
    clip: rect(46px, 9999px, 61px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  46.66667% {
    clip: rect(87px, 9999px, 57px, 0);
    -webkit-transform: skew(0.23deg);
            transform: skew(0.23deg);
  }
  53.33333% {
    clip: rect(35px, 9999px, 13px, 0);
    -webkit-transform: skew(0.12deg);
            transform: skew(0.12deg);
  }
  60% {
    clip: rect(78px, 9999px, 22px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  66.66667% {
    clip: rect(7px, 9999px, 5px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  73.33333% {
    clip: rect(1px, 9999px, 21px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  80% {
    clip: rect(84px, 9999px, 73px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
  86.66667% {
    clip: rect(8px, 9999px, 57px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  93.33333% {
    clip: rect(84px, 9999px, 75px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  100% {
    clip: rect(99px, 9999px, 61px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(62px, 9999px, 26px, 0);
    -webkit-transform: skew(0.66deg);
            transform: skew(0.66deg);
  }
  6.66667% {
    clip: rect(84px, 9999px, 65px, 0);
    -webkit-transform: skew(0.95deg);
            transform: skew(0.95deg);
  }
  13.33333% {
    clip: rect(44px, 9999px, 38px, 0);
    -webkit-transform: skew(0.06deg);
            transform: skew(0.06deg);
  }
  20% {
    clip: rect(57px, 9999px, 59px, 0);
    -webkit-transform: skew(0.21deg);
            transform: skew(0.21deg);
  }
  26.66667% {
    clip: rect(25px, 9999px, 16px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  33.33333% {
    clip: rect(53px, 9999px, 52px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  40% {
    clip: rect(46px, 9999px, 61px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  46.66667% {
    clip: rect(87px, 9999px, 57px, 0);
    -webkit-transform: skew(0.23deg);
            transform: skew(0.23deg);
  }
  53.33333% {
    clip: rect(35px, 9999px, 13px, 0);
    -webkit-transform: skew(0.12deg);
            transform: skew(0.12deg);
  }
  60% {
    clip: rect(78px, 9999px, 22px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  66.66667% {
    clip: rect(7px, 9999px, 5px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  73.33333% {
    clip: rect(1px, 9999px, 21px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  80% {
    clip: rect(84px, 9999px, 73px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
  86.66667% {
    clip: rect(8px, 9999px, 57px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  93.33333% {
    clip: rect(84px, 9999px, 75px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  100% {
    clip: rect(99px, 9999px, 61px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(29px, 9999px, 9px, 0);
    -webkit-transform: skew(0.8deg);
            transform: skew(0.8deg);
  }
  6.66667% {
    clip: rect(78px, 9999px, 32px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  13.33333% {
    clip: rect(41px, 9999px, 19px, 0);
    -webkit-transform: skew(0.28deg);
            transform: skew(0.28deg);
  }
  20% {
    clip: rect(35px, 9999px, 35px, 0);
    -webkit-transform: skew(0.48deg);
            transform: skew(0.48deg);
  }
  26.66667% {
    clip: rect(49px, 9999px, 40px, 0);
    -webkit-transform: skew(0.29deg);
            transform: skew(0.29deg);
  }
  33.33333% {
    clip: rect(28px, 9999px, 67px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  40% {
    clip: rect(38px, 9999px, 93px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  46.66667% {
    clip: rect(97px, 9999px, 8px, 0);
    -webkit-transform: skew(0.14deg);
            transform: skew(0.14deg);
  }
  53.33333% {
    clip: rect(75px, 9999px, 64px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  60% {
    clip: rect(38px, 9999px, 21px, 0);
    -webkit-transform: skew(0.31deg);
            transform: skew(0.31deg);
  }
  66.66667% {
    clip: rect(8px, 9999px, 38px, 0);
    -webkit-transform: skew(0.47deg);
            transform: skew(0.47deg);
  }
  73.33333% {
    clip: rect(63px, 9999px, 45px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  80% {
    clip: rect(60px, 9999px, 2px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  86.66667% {
    clip: rect(62px, 9999px, 46px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  93.33333% {
    clip: rect(16px, 9999px, 80px, 0);
    -webkit-transform: skew(0.57deg);
            transform: skew(0.57deg);
  }
  100% {
    clip: rect(36px, 9999px, 6px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(29px, 9999px, 9px, 0);
    -webkit-transform: skew(0.8deg);
            transform: skew(0.8deg);
  }
  6.66667% {
    clip: rect(78px, 9999px, 32px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  13.33333% {
    clip: rect(41px, 9999px, 19px, 0);
    -webkit-transform: skew(0.28deg);
            transform: skew(0.28deg);
  }
  20% {
    clip: rect(35px, 9999px, 35px, 0);
    -webkit-transform: skew(0.48deg);
            transform: skew(0.48deg);
  }
  26.66667% {
    clip: rect(49px, 9999px, 40px, 0);
    -webkit-transform: skew(0.29deg);
            transform: skew(0.29deg);
  }
  33.33333% {
    clip: rect(28px, 9999px, 67px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  40% {
    clip: rect(38px, 9999px, 93px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  46.66667% {
    clip: rect(97px, 9999px, 8px, 0);
    -webkit-transform: skew(0.14deg);
            transform: skew(0.14deg);
  }
  53.33333% {
    clip: rect(75px, 9999px, 64px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  60% {
    clip: rect(38px, 9999px, 21px, 0);
    -webkit-transform: skew(0.31deg);
            transform: skew(0.31deg);
  }
  66.66667% {
    clip: rect(8px, 9999px, 38px, 0);
    -webkit-transform: skew(0.47deg);
            transform: skew(0.47deg);
  }
  73.33333% {
    clip: rect(63px, 9999px, 45px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  80% {
    clip: rect(60px, 9999px, 2px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  86.66667% {
    clip: rect(62px, 9999px, 46px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  93.33333% {
    clip: rect(16px, 9999px, 80px, 0);
    -webkit-transform: skew(0.57deg);
            transform: skew(0.57deg);
  }
  100% {
    clip: rect(36px, 9999px, 6px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
}

.footer-container {
  border-top: 1px solid #7b7b7b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  background-color: #000;
}

.footer-container__card {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  text-align: center;
  padding: 50px;
}

.footer-container__card p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #9a9a9a;
}

.footer-container__card h5 {
  margin-bottom: 24px;
  letter-spacing: 0.2em;
  line-height: 1.2em;
  font-weight: 600;
  color: rgba(116, 116, 116, 0.708);
}

.footer-container__card h5 hr {
  width: 100%;
  height: 2px;
  text-align: center;
  background-color: #7b7b7b4c;
  border: transparent;
}

.footer-container__card .footer-container__card--social-media {
  padding: 0px 0px 0px 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
}

.footer-container__card .footer-container__card--social-media img:hover {
  text-decoration: none;
  color: transparent;
}

.footer-container__card p:last-child a {
  color: rgba(116, 116, 116, 0.708);
}

.footer-container__card p:last-child a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.892);
}

.footer-container__logo {
  padding-bottom: 20px;
}

.footer-bottom__title {
  color: rgba(116, 116, 116, 0.708);
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.1em;
  padding-top: 50px;
  padding-left: 12px;
}
/*# sourceMappingURL=style.css.map */