@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
}

.entrance-page__wrapper--animation {
  text-align: center;
  color: #f5f5f5;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1em;
  text-transform: uppercase;
  padding-right: 35px;
}

.entrance-page__wrapper--animation .letter {
  display: inline-block;
}

.entrance-page {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  background: #0a0a0a;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 10, 0.6)), to(rgba(0, 0, 0, 0.9))), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url("../assets/entrance-image.jpg");
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url("../assets/entrance-image.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.entrance-page:hover {
  text-decoration: none;
}

.entrance-page__wrapper h1 {
  position: relative;
  color: #f5f5f5;
  font-size: 4em;
  font-weight: 600;
  letter-spacing: .5em;
}

.entrance-page__wrapper h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.entrance-page__wrapper h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(65px, 9999px, 38px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  6.66667% {
    clip: rect(94px, 9999px, 62px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  13.33333% {
    clip: rect(4px, 9999px, 2px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  20% {
    clip: rect(41px, 9999px, 17px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  26.66667% {
    clip: rect(56px, 9999px, 95px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  33.33333% {
    clip: rect(67px, 9999px, 17px, 0);
    -webkit-transform: skew(0.86deg);
            transform: skew(0.86deg);
  }
  40% {
    clip: rect(77px, 9999px, 68px, 0);
    -webkit-transform: skew(0.04deg);
            transform: skew(0.04deg);
  }
  46.66667% {
    clip: rect(55px, 9999px, 68px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  53.33333% {
    clip: rect(6px, 9999px, 1px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  60% {
    clip: rect(71px, 9999px, 60px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
  66.66667% {
    clip: rect(79px, 9999px, 68px, 0);
    -webkit-transform: skew(0.4deg);
            transform: skew(0.4deg);
  }
  73.33333% {
    clip: rect(44px, 9999px, 87px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  80% {
    clip: rect(97px, 9999px, 19px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  86.66667% {
    clip: rect(61px, 9999px, 8px, 0);
    -webkit-transform: skew(0.57deg);
            transform: skew(0.57deg);
  }
  93.33333% {
    clip: rect(68px, 9999px, 79px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
  100% {
    clip: rect(90px, 9999px, 23px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(65px, 9999px, 38px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  6.66667% {
    clip: rect(94px, 9999px, 62px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  13.33333% {
    clip: rect(4px, 9999px, 2px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  20% {
    clip: rect(41px, 9999px, 17px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  26.66667% {
    clip: rect(56px, 9999px, 95px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  33.33333% {
    clip: rect(67px, 9999px, 17px, 0);
    -webkit-transform: skew(0.86deg);
            transform: skew(0.86deg);
  }
  40% {
    clip: rect(77px, 9999px, 68px, 0);
    -webkit-transform: skew(0.04deg);
            transform: skew(0.04deg);
  }
  46.66667% {
    clip: rect(55px, 9999px, 68px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  53.33333% {
    clip: rect(6px, 9999px, 1px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  60% {
    clip: rect(71px, 9999px, 60px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
  66.66667% {
    clip: rect(79px, 9999px, 68px, 0);
    -webkit-transform: skew(0.4deg);
            transform: skew(0.4deg);
  }
  73.33333% {
    clip: rect(44px, 9999px, 87px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  80% {
    clip: rect(97px, 9999px, 19px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  86.66667% {
    clip: rect(61px, 9999px, 8px, 0);
    -webkit-transform: skew(0.57deg);
            transform: skew(0.57deg);
  }
  93.33333% {
    clip: rect(68px, 9999px, 79px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
  100% {
    clip: rect(90px, 9999px, 23px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(4px, 9999px, 82px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  6.66667% {
    clip: rect(76px, 9999px, 78px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  13.33333% {
    clip: rect(56px, 9999px, 26px, 0);
    -webkit-transform: skew(0.22deg);
            transform: skew(0.22deg);
  }
  20% {
    clip: rect(57px, 9999px, 48px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  26.66667% {
    clip: rect(71px, 9999px, 65px, 0);
    -webkit-transform: skew(0.98deg);
            transform: skew(0.98deg);
  }
  33.33333% {
    clip: rect(67px, 9999px, 46px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  40% {
    clip: rect(68px, 9999px, 96px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  46.66667% {
    clip: rect(36px, 9999px, 6px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  53.33333% {
    clip: rect(71px, 9999px, 40px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  60% {
    clip: rect(50px, 9999px, 44px, 0);
    -webkit-transform: skew(0.19deg);
            transform: skew(0.19deg);
  }
  66.66667% {
    clip: rect(40px, 9999px, 80px, 0);
    -webkit-transform: skew(0.09deg);
            transform: skew(0.09deg);
  }
  73.33333% {
    clip: rect(30px, 9999px, 12px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  80% {
    clip: rect(90px, 9999px, 77px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  86.66667% {
    clip: rect(64px, 9999px, 100px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  93.33333% {
    clip: rect(83px, 9999px, 38px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  100% {
    clip: rect(21px, 9999px, 93px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(4px, 9999px, 82px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  6.66667% {
    clip: rect(76px, 9999px, 78px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  13.33333% {
    clip: rect(56px, 9999px, 26px, 0);
    -webkit-transform: skew(0.22deg);
            transform: skew(0.22deg);
  }
  20% {
    clip: rect(57px, 9999px, 48px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  26.66667% {
    clip: rect(71px, 9999px, 65px, 0);
    -webkit-transform: skew(0.98deg);
            transform: skew(0.98deg);
  }
  33.33333% {
    clip: rect(67px, 9999px, 46px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  40% {
    clip: rect(68px, 9999px, 96px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  46.66667% {
    clip: rect(36px, 9999px, 6px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  53.33333% {
    clip: rect(71px, 9999px, 40px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  60% {
    clip: rect(50px, 9999px, 44px, 0);
    -webkit-transform: skew(0.19deg);
            transform: skew(0.19deg);
  }
  66.66667% {
    clip: rect(40px, 9999px, 80px, 0);
    -webkit-transform: skew(0.09deg);
            transform: skew(0.09deg);
  }
  73.33333% {
    clip: rect(30px, 9999px, 12px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  80% {
    clip: rect(90px, 9999px, 77px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  86.66667% {
    clip: rect(64px, 9999px, 100px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  93.33333% {
    clip: rect(83px, 9999px, 38px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  100% {
    clip: rect(21px, 9999px, 93px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
}

.footer-container {
  border-top: 0.1px solid #7b7b7b36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  background-color: #000;
}

.footer-container__card {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px;
}

.footer-container__card p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #b3b3b3;
}

.footer-container__card p a {
  text-decoration: none;
  color: #b3b3b3;
}

.footer-container__card p a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.925);
}

.footer-container__card p:first-child {
  font-weight: 800;
}

.footer-container__card a {
  margin-bottom: 16px;
}

.footer-container__card a:hover {
  text-decoration: none;
  color: transparent;
}

.footer-container__card .footer-container__card--social-media {
  padding: 0px 5px 0px 5px;
  display: inline-block;
  text-align: center;
}

.footer-container__card .footer-container__card--social-media img:hover {
  text-decoration: none;
  color: transparent;
}

.footer-container__card p:last-child a {
  color: #b3b3b3e7;
}

.footer-container__card p:last-child a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.925);
}

.footer-container__logo {
  padding-bottom: 20px;
}

.footer-bottom__title {
  color: rgba(255, 255, 255, 0.925);
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.1em;
  padding-top: 15px;
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  height: 100vh;
}

.landing-page__digital, .landing-page__analog {
  position: absolute;
  top: -150%;
  left: 100%;
  z-index: 90;
  text-align: center;
  position: relative;
  padding: 20px 0px 20px 0px;
  cursor: pointer;
}

.landing-page__digital h1, .landing-page__analog h1 {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.landing-page__digital::before,
.landing-page__analog::before {
  position: absolute;
  top: 0.67em;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  padding: 20px 0px 20px 0px;
  -webkit-transition: .4s,opacity .6s;
  transition: .4s,opacity .6s;
  -webkit-transform: translate(-10%, 0);
          transform: translate(-10%, 0);
}

.landing-page__digital::before {
  content: attr(hover-digital);
}

.artist-card:hover h1 {
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
}

.artist-card:hover .landing-page__digital::before {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.landing-page__analog::before {
  content: attr(hover-analog);
}

.artist-card:hover .landing-page__analog::before {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

:root {
  --primary: #d1fefc;
  --secondary: #ffe1e1;
  --accent: #2d2d2d84;
}

.artist-card {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr 1rem auto;
      grid-template-rows: 1fr 1rem auto;
  margin: 0px;
  position: relative;
  -webkit-box-shadow: inset 0rem 9rem 0 var(--accent);
          box-shadow: inset 0rem 9rem 0 var(--accent);
}

.artist-card__img {
  max-width: 100%;
  display: block;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.artist-card {
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  -webkit-animation: circle-grow 2000ms 450ms forwards;
          animation: circle-grow 2000ms 450ms forwards;
}

.artist-card:hover .artist-card__img {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
}

.artist-card__img {
  -webkit-clip-path: polygon(18.11% 16.5%, 50% 0%, 75% 50%, 54.09% 90.44%, 13.7% 63.94%);
          clip-path: polygon(18.11% 16.5%, 50% 0%, 75% 50%, 54.09% 90.44%, 13.7% 63.94%);
  -webkit-transition: -webkit-clip-path 400ms ease-in-out;
  transition: -webkit-clip-path 400ms ease-in-out;
  transition: clip-path 400ms ease-in-out;
  transition: clip-path 400ms ease-in-out, -webkit-clip-path 400ms ease-in-out;
}

@-webkit-keyframes circle-grow {
  to {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
}

@keyframes circle-grow {
  to {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
}
/*# sourceMappingURL=style.css.map */